* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
}

window {
    margin: 0px;
    border: 2px solid #313244;
    border-radius: 12px;
    background-color: rgba(21, 18, 27, 0.98);
    animation: slideIn 0.1s ease-in-out;
}

@keyframes slideIn {
    0% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
}

#input {
    margin: 12px;
    border: 2px solid #45475a;
    border-radius: 8px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-size: 14px;
    padding: 8px;
}

#input image {
    color: #cdd6f4;
}

#input:focus {
    border: 2px solid #cba6f7;
}

#inner-box {
    margin: 0px 12px 12px 12px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 4px;
    border: none;
    background-color: transparent;
    color: #cdd6f4;
    font-size: 14px;
}

#entry {
    margin: 2px 0px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px;
    min-height: 20px;
}

#entry:selected {
    border: none;
    background-color: #313244;
    outline: none;
}

#entry:selected #text {
    color: #cba6f7;
    font-weight: bold;
}

#img {
    margin-right: 8px;
}
